body {
  font-family: 'Open Sans', sans-serif;
  color: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
}

a {
	cursor: pointer;
}

.navbar {
	border-radius: 0;
}

.home-banner {
  background: url(../images/slider.png) no-repeat;
  background-position: 0 -400px;
  height: 500px;
}

.top-ribbon {
	background: #ea397f;
	color: #fff;
	padding: 10px 20px;
}

.top-ribbon span:first-child {
	margin: 0 10px 0 0;
}

.top-ribbon span i {
	margin: 0 5px 0 0;
}

.my-login .form-control {
    margin: 0 0 10px;
}

.ladyimg img{
	height: 460px;
}

.my-login {
	background: rgba(255, 255, 255, 0.5);
	padding: 15px 15px 30px;
	margin: 50px 0 0;
}

.past-info {
	background: #fcfbfd;
	padding: 20px 0;
}

.countbox-number {
	border: solid 3px #fff;
	padding: 20px 0;
}

.countbox-number .glyphicon, .countbox-number h3{
	color: #EA397F;
}

.countbox-number .glyphicon {
	font-size: 50px;
}

.section-padding {
	padding: 40px 0;
}

.contact .glyphicon {
	font-size: 39px;
	color: #EA397F;
}

.contact p, .contact i {
	color: #777;
	margin: 0;
}

.team-member .team-member-content {
	padding: 20px 0 0;
}

.course-wrap .thumbnail img {
	height: 200px;
}

.overlay {
	width:100%;
	height:100%;
	display:none;
    position:absolute;
    top:0px;
    left:0px;
}

.slider img {
	width: 100%;
	height: 500px;
	border: solid 5px;
}

.btn-wrap {
	margin: 10px 0 0;
}

.profile-pg .form-control {
	margin: 0 0 10px;
}

.demo-content{
    padding: 15px;
    font-size: 18px;
    min-height: 85px;
    background: #dbdfe5;
    margin-bottom: 10px;
    margin-top: 10px; 
}

.commentarea .textarea {
	width: 100%;
	resize:none;
}

.btn-comment {
    margin-left: 20px;
    margin-top: 10px;
}

.anchor-comment {
	margin: 10px 0 0;
}

.span_error {
    color:red;
    display:block;
}

.panel-green {
	border-color: #2ecc71;
}

.margin-panel {
	margin: 40px auto;
    width: 50%;
}

.panel-heading {
  background: #2ecc71;
    color: #fff;  
}

.img-select {
	height: 200px;
	border: solid 1px #ddd;
	overflow-y: scroll;
}

.img-select img {
	width: 100px;
	border: solid 1px #ddd;
	margin: 0 0 0 5px;
}

.premiun-package-box {
    margin: 0;
    padding: 10px 20px;
}

.premiun-package-box h4 {
    text-align:center;
    font-size:14px;
    color:#999;
    line-height:1.5
}
        
.premiun-package-box premiun-package-msg {
    margin: 0;
    padding: 0;
}     
.modal-600 
{
	width:400px !important; 
}

.modal-backdrop {
	opacity: 1 !important;
}

.team-member-avatar img {
    height: 280px;
}

.header-title {
    color: white;
    margin-top: 14px;
}

.modal-content {
	margin-top:50%;  
}
