<div ng-include="'../views/commonHeader.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Courses</h1>
        </div>
        <div ng-repeat="course in courses" class="course-wrap">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="thumbnail">
                    <img class="img-responsive" ng-src="{{course.image}}">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="#/video/1" class="btn btn-primary">Watch Video</a>
                        <a href="#/courses/1" class="btn btn-primary">Watch Session</a>
                    </div>
                </div>
            </div>
        </div>   
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
            <hr>
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>