<div ng-include="'../views/commonHeader.html'"></div>
<div class="panel panel-green margin-bottom-40 margin-panel" ng-init="editUsrDtls()">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-tasks">Edit User</i>
    </h3>
  </div>
  <div class="panel-body">    
    <form name="user" class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
          <input type="text" ng-model="customer.username" class="form-control col-sm-6" placeholder="Email" ng-disabled="true">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
          <input type="email" ng-model="customer.email" class="form-control col-sm-6" placeholder="email" ng-disabled="true">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">PatientId</label>
        <div class="col-sm-10">
          <input type="text" ng-model="customer.patientId" class="form-control col-sm-6" placeholder="PatientId">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Course</label>
        <div class="col-sm-10">
          <div class="img-select">
            <div class="col-xs-12" ng-repeat="course in courses"><input type="checkbox"></input><img ng-src={{course.image}} /></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-success">Submit</button>
          <button class="btn btn-info" ui-sref="physioCustomers">Back</button>
        </div>
      </div>
    </form>
  </div>  
</div>  