<section class="home-banner">
	<div class="container">
		<div class="row">
			<div class="top-ribbon">
				<span><i class="glyphicon glyphicon-envelope"></i>support@mrsa.com</span>
				<span><i class="glyphicon glyphicon-map-marker"></i>1900-1589-MRSA</span>
				<span class="pull-right"><i class="glyphicon glyphicon-calendar"></i>Make an appointment</span>
			</div>
			<div class="col-md-7 col-sm-7 hidden-xs ladyimg">
				<img src="../assets/images/girl.png" class="img-responsive">
			</div>
			<div class="col-md-5 col-sm-5 my-login">
				<form name="login" novalidate="">
					<h1 class="text-center">Login</h1>
					<input type="text" ng-model="user.userName" placeholder="Username" class="form-control" required>
					<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required>
	                <span ng-if="loginFail" class="span_error">*Invalid credentials</span></br>
					<button type="submit" ng-click="submit(user)" ng-disabled="login.$invalid" class="btn btn-success">Login</a>
				</form>	
			</div>
		</div>
	</div>
</section>
<section class="past-info section-padding">
	<div class="container">
		<div class="row text-center">
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="countbox-number">
					<span class="glyphicon glyphicon-briefcase"></span><h3>3405</h3><h4>Clients</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="countbox-number">
					<span class="glyphicon glyphicon-wrench"></span><h3>436</h3><h4>Therapists</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="countbox-number">
					<span class="glyphicon glyphicon-wrench"></span><h3>832</h3><h4>Procedures</h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6">
				<div class="countbox-number">
					<span class="glyphicon glyphicon-pushpin"></span><h3>120</h3><h4>Treatments</h4>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="team-member section-padding">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="team-member-avatar">
					<img src="../assets/images/member-1.png" alt="" class="img-responsive">
				</div>
				<div class="team-member-content">
					<span class="h3"><a href="#">Michelle</a></span>
					<span class="position pull-right">Physiotherapist</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="team-member-avatar">
					<img src="../assets/images/member-2.png" alt="" class="img-responsive">
				</div>
				<div class="team-member-content">
					<span class="h3"><a href="#">Olivia</a></span>
					<span class="position pull-right">Physiotherapist</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="team-member-avatar">
					<img src="../assets/images/member-3.png" alt="" class="img-responsive">
				</div>
				<div class="team-member-content">
					<span class="h3"><a href="#">Samantha</a></span>
					<span class="position pull-right">Physiotherapist</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="team-member-avatar">
					<img src="../assets/images/member-4.png" alt="" class="img-responsive">
				</div>
				<div class="team-member-content">
					<span class="h3"><a href="#">Virginia</a></span>
					<span class="position pull-right">Physiotherapist</span>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="contact section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h4><strong>Contact Us</strong></h4>
				<i>More information about us</i>
			</div>
			<div class="col-sm-3">
				<span class="glyphicon glyphicon-map-marker"></span>
				<h4><strong>Visit Us</strong></h4>
				<p>200 Broadway Av</p>
				<p>WEST BEACH SA 5024</p>
				<p>AUSTRALIA</p>
			</div>
			<div class="col-sm-3">
				<span class="glyphicon glyphicon-time"></span>
				<h4><strong>Happy with us</strong></h4>
				<p>MON – FRI:10:00 – 16:00</p>
				<p>SAT: 10:00 – 14:00</p>
				<p>SUN: Closed</p>
			</div>
			<div class="col-sm-3">
				<span class="glyphicon glyphicon-phone"></span>
				<h4><strong>Talk to us</strong></h4>
				<p>1900-1577-ERINO</p>
				<p>+012 345 6789</p>
				<p>contact@example.com</p>
			</div>
		</div>
	</div>
</section>
<!-- https://www.lyft.com/drive-for-lyft-->
<!-- http://themeforest.net/item/er-beautypress-beauty-spa-wordpress-theme/full_screen_preview/11526967-->