<div ng-include="'../views/commonHeader.html'" ></div>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="slider">
			    <img ng-src="{{courseInfo[index].slide}}" /> 
			</div>
            <div class="pull-left">
                <a ng-click="displayComment()" class="anchor-comment">comment</a>
            </div>
			<div class="pull-right btn-wrap">
				<button ng-if="prevFlg" ng-click="prev()" class="btn btn-primary">Prev</button>
				<button ng-if="nextFlg" ng-click="next()" class="btn btn-primary">Next</button>
			</div>
		</div>
	</div>
    <div class="row" ng-if="commentflg">
        <div class="col-xs-12">
            <div class="demo-content">
                <div class="col-xs-12" ng-repeat="cmt in commentArray track by $index" ng-if="commentArray.length > 0">
                    <span>@{{userDtls.user}} : {{cmt}}</span>
                </div>
                <textarea class="col-xs-11" ng-model="comment" placeholder="please enter a comment"></textarea>
                <button ng-click="enterComment(comment, courseInfo[index]); comment=''" class="btn btn-comment btn-primary">Submit</button>
            </div>
        </div>
    </div>
<!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
            <hr>
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>